# ===== .NET build output =====
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Debug / Release folders
[Bb]in/
[Oo]bj/

# Visual Studio cache
.vs/

# Rider / VSCode
.idea/
.vscode/

# Logs
*.log

# ===== App settings =====
appsettings.json
appsettings.Development.json
appsettings.*.json
